body { font-size:100%;
	font-family:"Georgia", serif; }
img { width: inherit; }
header img{ width:100%; 
	margin-bottom:0px;}

/*-------------------------------------------------
	Specific Font Settings
-------------------------------------------------*/
h1 { margin-bottom: .5em; }


p.stat_display { font-size:3em;
		text-align:center;
		margin-bottom:.1em;
		font-style:bold; }
p.units { font-size: 1em;
	text-align:center;
	margin-top: .3em;
	font-style:bold; }


/*--------------------------------------------------
	Layout Settings
--------------------------------------------------*/
header { max-width:100%;
	min-height:25px;
	border-bottom: 1px solid gray;
	padding-bottom: 1%;
	}
#logo_left {	width:50%;}
#logo_right { 	position:absolute;
		right:0px;
		top:8px;
		width:50%;
		 }

/*---------------------------------------------------
	Column Settings
----------------------------------------------------*/

/* column container */
.colmask {
	position:inline-block;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	/*float:left; */
	width:100%;			/* width of whole page */
	/*overflow:hidden;*/		/* This chops off any overhanging divs */
	overflow-x:hidden;
	/*border-top:1px solid gray;
	margin-top:1% */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	/*overflow:hidden;*/
}
/* 3 Column settings */
.threecol {
	background:/*#eee*/ whitesmoke ;		/* right column background colour */
	height: 70%;								/* controls the height of the three columns */
}
.threecol .colmid {
	right:25%;			/* width of the right column */
	background:#fff;		/* center column background colour */
	height: 100%;
}
.threecol .colleft {
	right:50%;			/* width of the middle column */
	background:/*#f4f4f4*/ whitesmoke;	/* left column background colour */
	height:100%;
}
.threecol .col1 {
	width:46%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	background: url(/images/lightning_bolt.png) no-repeat center;
	background-position:center;
	background-size:65%;
	width:21%;			/* Width of left column content (column width minus padding on either side) */
	left:31%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	background:url(/images/dollar_sign.png) no-repeat right;
	background-position:center;
	background-size:65%;
	width:21%;			/* Width of right column content (column width minus padding on either side) */
	left:85%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

.content { opacity:1
	width:90%;
	height:90%; }

/*-------------------------------------------
	Chart Settings
---------------------------------------------*/

#chart {
	position:absolute !important;
	top:75%;
	/*clear:both; */
	/*float:left; */
	height: 22%;
	width:99%;
	/*border-top:1px solid #000; */
	margin-top: 1%;
}

