#canvas {
  
  /*height: 493px;*/
  /*left: 0px;
  margin: 0px 0 0 0px;
  position: absolute;
  top: 0px;*/
  width:75%;
  height:80%;
  
  /*width: 746px;*/
}

#paper {
  position:absolute;

  left:14px;
  /*height: 488px;*/
  /*left: 13px;
  position: absolute;
  top: 5px;*/
  /*width: 746px;*/
}

#map_image {
  opacity:.35;
  filter:alpha(opacity=40)
}

.buildings {
  display: none;
  /*height: 400px;*/
  overflow: auto;
  position: absolute;
  right:0px;
  height:80%;
  width:25%;
  /*right: -320px;
  top: 0;
  width: 300px;*/
}

.buildings h2 {
  text-align: center;
}
			

.building_info {
  font-size: 18px;
}
